<div class="row log-in-holder-row">
	<form class="form-signin" role="form" name="loginForm" novalidate>
		<div class="form-group col-xs-6 col-xs-offset-3 row">
			<input ng-model="form.masterUser.email" type="text"
				placeholder="Employee Id" class="form-control" required autofocus>
		</div>
		<div class="form-group col-xs-6 col-xs-offset-3 row">
			<input ng-model="form.masterUser.password" type="password"
				placeholder="Password" class="form-control" required>
		</div>
		<div class="form-group col-xs-6 col-xs-offset-3 row">
			<a ng-click="goinside()" class="btn btn-block btn-info">
				Login <span class="glyphicon glyphicon-circle-arrow-right"></span>
			</a>

		</div>
	</form>
</div>