<form class="form-horizontal" role="form" name="eductionForm">
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<select ng-model="form.education.type" class="form-control">
					<option selected="selected">Higher Secondary</option>
					<option>Senior Secondary</option>
					<option>Graduation</option>
					<option>Post Graduation</option>
					<option>PHD</option>
					<option>Post Doc</option>
				</select>
			</div>
			<div class="col-sm-4">
				<input type="text" placeholder="Institute"
					ng-model="form.education.institute" class="form-control" />
			</div>
			<div class="col-sm-2">
				<input type="text" placeholder="Year" ng-model="form.education.year"
					class="form-control" />
			</div>
			<div class="col-sm-1">
				<button ng-click="addMoreEduction(true)" type="button"
					class="btn btn-primary btn-sm">+</button>
			</div>
		</div>
	</div>
	<div ng-repeat="eduction in form.educationDetails">
		<div class="form-group">
			<div class="row">
				<div class="col-sm-4">
					<select ng-model="eduction.type" class="form-control">
						<option>Higher Secondary</option>
						<option>Senior Secondary</option>
						<option>Graduation</option>
						<option>Post Graduation</option>
						<option>PHD</option>
						<option>Post Doc</option>
					</select>
				</div>
				<div class="col-sm-4">
					<input type="text" placeholder="Institute"
						ng-model="eduction.institute" class="form-control" />
				</div>
				<div class="col-sm-2">
					<input type="text" placeholder="Year" ng-model="eduction.year"
						class="form-control" />
				</div>
				<div class="col-sm-1">
					<button ng-click="addMoreEduction()" type="button"
						class="btn btn-primary btn-sm">+</button>
				</div>
				<div class="col-sm-1">
					<button ng-click="removeEduction($index)" type="button"
						class="btn btn-primary btn-sm">-</button>
				</div>
			</div>

		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-4">
			<button ng-click="saveEducationDetails()" type="button"
				class="btn btn-primary btn-sm">Save</button>
		</div>
	</div>
</form>